@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

:root {
    --cambridge-blue: rgb(119, 202, 152);
    --celadon: rgb(21, 193, 87);
    --white: rgb(224, 213, 213);
    --night: #161616ff;
    --white-2: rgb(130, 138, 133);
    --light-grey: #392e2e;
    --dark-grey: #202020;
    --mid-grey: #2b2b2b;
    --shadow-grey: rgba(0, 0, 0, 0.1);
    --black: #000;
}

* {
    margin: 0px ;
    padding: 0px;
}

body {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--black);
}

.custom-bg-color {
    background-color: var(--light-grey) !important;
    
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: var(--white) !important;
    font-size: 1.5em;
    
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: var(--celadon)!important;
    
    
}

.dropdown-menu {
    background-color: var(--light-grey)!important;
    border: none;
}

.dropdown-item {
    color: var(--white);
background-color: var(--light-grey) !important;
}


.dropdown-item:hover,
.dropdown-item:focus {
    color: var(--celadon);  
    background-color: var(--white);
}

.navbar-toggler {
    border-color: var(--white);
    
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(224,213,213)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.custom-nav-width {
    width: 100%;
   
}


.bg-image {
    height: 70vh;
    max-height: 600px;
    min-height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.5) 100%);
    pointer-events: none;
    z-index: 1;
}

.content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: var(--white);
    font-size: 4vw;
    top: 0%;
    transform: translateY(-30%);
    text-shadow: 0 0 0.5vw var(--black);
}

.content-sub {
    color: var(--white);
    font-size: 1.6vw;
    font-style: italic;
    text-shadow: 0 0 0.5vw var(--black);
    text-align: center;
    margin-top: 1vw;
    z-index: 2;
}

.about-section {
    background-color: var(--cambridge-blue);
    padding: 3vw 0;
    margin-top: -2vw;
}

.about-container {
    background-color: var(--cambridge-blue);
    border-radius: 1vw;
    padding: 3vw;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid;
}

.about-container h2 {
    margin-bottom: 2vw;
    font-size: 2.5vw;
    color: var(--night);
}

.about-container p {
    font-size: 1.2vw;
    color: var(--night);
}

.about-container img {
    max-width: 100%;
    height: auto;
    border-radius: 1vw;
}

.btn-demo {
    background-color: var(--black);
    color: var(--white);
    padding: 1vw 2vw;
    border: none;
    border-radius: 0.5vw;
    font-size: 1vw;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.btn-demo:hover {
    background-color: var(--celadon);
    color: var(--night);
}

.btn-email {
    background-color: var(--night);
    color: var(--white);
    padding: 1vw 2vw;
    border: none;
    border-radius: 0.5vw;
    font-size: 1vw;
    cursor: pointer;
    text-decoration: none;
}

.btn-email:hover {
    background-color: var(--celadon);
    color: var(--night);
}

.team-section {
    background-color: var(--cambridge-blue);
    padding: 3vw 0;
}

.team-container {
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
}

.team-member {
    background-color: var(--white-2);
    border-radius: 1vw;
    padding: 2vw;
    text-align: center;
    width: 100%;
}

.team-member h3 {
    margin: 1.5vw 0 1vw;
    font-size: 2vw;
    color: var(--night);
}

.team-member p {
    font-size: 1vw;
    margin: 1vw 0;
    text-align: justify;
    color: var(--light-grey);
}

.team-member img {
    width: 10vw;
    height: auto;
    border-radius: 50%;
}

.documents-section {
    background-color: var(--night);
    padding: 3vw 0;
}

.documents-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.document-item {
    color: var(--white);
    border-radius: 1vw;
    padding: 2vw;
    text-align: center;
    margin: 0 auto;
}

.document-item h2 {
    font-size: 1.5vw;
    margin-bottom: 1vw;
    color: var(--white);
}

.document-item img {
    width: 5vw;
    height: auto;
    margin-bottom: 1.5vw;
}

.schedule-section {
    background-color: var(--night);
    color: var(--white);
    padding: 3vw 0;
    text-align: center;
}

.schedule-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vw;
    margin-bottom: 3vw;
}

.schedule-buttons button {
    background-color: var(--white);
    color: var(--light-grey);
    padding: 1vw 2vw;
    border: none;
    border-radius: 0.5vw;
    margin: 0.5vw;
    cursor: pointer;
    width: auto;
    transition: background-color 0.3s ease;
}

.schedule-buttons button:hover {
    background-color: var(--celadon);
}

.schedule-week {
    display: none;
    text-align: left;
    margin: 0 auto;
    width: 60%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    width: 100%;
}

.schedule-week.active {
    display: block;
    background-color: var(--white);
    padding: 3vw;
    color: var(--night);
    border-radius: 1vw;
    font-size: 1.5vw;
    opacity: 1;
}

.schedule-week h3 {
    margin-top: 0;
}
@media screen 43 {
    
}