@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

:root {
    --cambridge-blue: rgb(119, 202, 152);
    /* Pozadie team-section */
    --celadon: rgb(21, 193, 87);
    /* Hover efekt pre tlačidlá */
    --white: rgb(224, 213, 213);
    /* Primárna biela farba pre tlačidlá a nadpisy */
    --night: #161616ff;
    /* Pozadie pre tlačidlá */
    --white-2: rgb(130, 138, 133);
    /* Alternatívna biela na svetlých prvkoch */
    --light-grey: #392e2e;
    /* Farba textov */
    --dark-grey: #202020;
    /* Pozadie pre about-section */
    --mid-grey: #2b2b2b;
    /* Pozadie pre kontajnery */
    --shadow-grey: rgba(0, 0, 0, 0.1);
    /* Tieň pre prvky */
    --black: #000;
    /* Čierna farba pre tlačidlá */
}

/* Globálne nastavenia */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--black);
    color: var(--light-grey);
}

/* Navigácia */

.custom-nav-link {
    color: var(--light-grey);
    background-color:var(--black);
}

.custom-nav-link:hover {
    color: var(--celadon);
}

/* Pozadie obrázka s gradientom */
.bg-image {
    background-image: url('https://images.unsplash.com/photo-1720166671019-744dcef65d05?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    height: 70vh;
    max-height: 600px;
    min-height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bg-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, var(--night) 1%, rgba(20, 20, 20, 0) 10%, rgba(20, 20, 20, 0) 70%, var(--night) 100%);
}

/* Text na obrázku */
.content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: var(--white);
    font-size: 4vw;
    top: 0%;
    transform: translateY(-30%);
    text-shadow: 0 0 0.5vw var(--black);
}

.content-sub {
    color: var(--white);
    font-size: 1.6vw;
    font-style: italic;
    text-shadow: 0 0 0.5vw var(--black);
    text-align: center;
    margin-top: 1vw;
    z-index: 2;
}

/* Sekcia o projekte */
.about-section {
    background-color: var(--dark-grey);
    padding: 3vw 0;
    margin-top: -2vw;
}

.about-container {
    background-color: var(--mid-grey);
    border-radius: 1vw;
    padding: 3vw;
    width: 60vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-container h2 {
    margin-bottom: 2vw;
    font-size: 2.5vw;
    color: var(--white);
}

.about-container p {
    font-size: 1.2vw;
    color: var(--white-2);
}

.about-container .btn-demo {
    background-color: var(--black);
    color: var(--white);
    padding: 1vw 2vw;
    border: none;
    border-radius: 0.5vw;
    font-size: 1vw;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 40%;
}

.about-container .btn-demo:hover {
    background-color: var(--celadon);
    color: var(--night);
}

.about-container img {
    max-width: 100%;
    height: auto;
    border-radius: 1vw;
}

/* Sekcia tímu */
.team-section {
    background-color: var(--cambridge-blue);
    padding: 3vw 0;
}

.team-container {
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
}

.team-member {
    background-color: var(--white-2);
    border-radius: 1vw;
    padding: 2vw;
    text-align: center;
}

.team-member h3 {
    margin: 1.5vw 0 1vw;
    font-size: 1.5vw;
    color: var(--night);
}

.team-member p {
    font-size: 1vw;
    margin: 1vw 0;
    text-align: justify;
    color: var(--light-grey);
}

.team-member .btn-email {
    background-color: var(--night);
    color: var(--white);
    padding: 1vw 2vw;
    border: none;
    border-radius: 0.5vw;
    font-size: 1vw;
    cursor: pointer;
    text-decoration: none;
}

.team-member .btn-email:hover {
    background-color: var(--celadon);
    color: var(--night);
}

.team-member img {
    width: 10vw;
    height: auto;
    border-radius: 50%;
}

/* Sekcia dokumentov */
.documents-section {
    background-color: var(--night);
    padding: 3vw 0;
}

.documents-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.document-item {
    color: var(--white);
    border-radius: 1vw;
    padding: 2vw;
    text-align: center;
    margin: 0 auto;
}

.document-item h3 {
    font-size: 1.5vw;
    margin-bottom: 1vw;
    color: var(--white);
}

.document-item img {
    width: 5vw;
    height: auto;
    margin-bottom: 1.5vw;
}

.document-item a {
    display: inline-block;
    padding: 1vw 2vw;
    background-color: var(--white);
    color: var(--light-grey);
    border-radius: 0.5vw;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.document-item a:hover {
    background-color: var(--celadon);
}

/* Sekcia rozvrhu */
.schedule-section {
    background-color: var(--night);
    color: var(--white);
    padding: 3vw 0;
    text-align: center;
}

.schedule-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vw;
    margin-bottom: 3vw;
}

.schedule-buttons button {
    background-color: var(--white);
    color: var(--light-grey);
    padding: 1vw 2vw;
    border: none;
    border-radius: 0.5vw;
    margin: 0.5vw;
    cursor: pointer;
    width: auto;
    transition: background-color 0.3s ease;
}

.schedule-buttons button:hover {
    background-color: var(--celadon);
}

.schedule-week {
    display: none;
    text-align: left;
    margin: 0 auto;
    width: 60%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.schedule-week.active {
    display: block;
    background-color: var(--white);
    padding: 3vw;
    color: var(--night);
    border-radius: 1vw;
    font-size: 1.5vw;
    opacity: 1;
}

.schedule-week h3 {
    margin-top: 0;
}

/* Responzívne nastavenia */
@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .about-container img {
        margin: 2vw 0;
    }

    .team-container {
        grid-template-columns: 1fr;
    }

    .documents-container {
        grid-template-columns: 1fr;
    }

    .schedule-buttons button {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .schedule-week.active {
        font-size: 0.8rem;
    }

    .schedule-week {
        width: 100%;
    }
}